// title-has-bg
.title-has-bg {
    position: relative;
    padding: 4rem 0 2rem;

    @media(min-width: 416px) {
        padding: 4rem 0 3rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 5rem 0 2rem;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 258px;
        height: 154px;
        transform: translateX(-50%);
        background: url(#{$image-path}/bg-leaf.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: top left;
    }
}

// cta-block
.cta-block {
    &__heading {
        .h4 {
            color: $magenta;
            @include font-size(1.3125rem);

            @include media-breakpoint-up(xxl) {
                @include font-size(1.5625rem);
            }
        }
    }
}

// info-block
.info-block {

    &__inner {
        min-height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media(min-width: 415px) {
            min-height: 805px;
        }
    }
}

// offset-col
.offset-col {
    .accordion-block,
    &__left {
        max-width: 430px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    &__right {
        height: 100%;
    }
}