// title-has-bg
.title-has-bg {
    position: relative;
    padding: 4rem 0 2rem;
    z-index: 1;

    @media(min-width: 416px) {
        padding: 4rem 0 3rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 5rem 0 2rem;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 258px;
        height: 154px;
        transform: translateX(-50%);
        background: url(#{$image-path}/bg-leaf.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: top left;
        z-index: -1;
    }
}

// cta-block
.cta-block {
    &__heading {
        .h4 {
            color: $magenta;
            @include font-size(1.3125rem);

            @include media-breakpoint-up(xxl) {
                @include font-size(1.5625rem);
            }
        }
    }
}

// info-block
.info-block {

    &__inner {
        min-height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media(min-width: 415px) {
            min-height: 805px;
        }

        @media screen and (min-width:0\0) {
            height: 805px;
        }
    }
}

// offset-col
.offset-col {

    .accordion-block,
    &__left {
        max-width: 430px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    &__right {
        height: 100%;
    }
}

// offset-block
.offset-block {
    &>.bg-img {
        @include media-breakpoint-down(md) {
            top: 230px;
        }
    }

    &__heading {
        .avatar-circle {
            width: 160px;
            height: 160px;

            img {
                width: 100%;
                height: 100%;
            }

            &-wrapper {
                margin-top: 0;
            }
        }
    }

    &__info {
        font-family: $font-avenir;
        border-bottom: 1px solid $white;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .info-title {
            @include font-size(1.25rem);
            font-family: $font-nelphim;
            font-weight: 400;
            display: block;
            margin-bottom: 1rem;
            line-height: 1.2;
        }

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .btn-wrap {
        .btn {
            padding-top: 1.375rem;
            padding-bottom: 1.375rem;
        }
    }
}

// schedule-section
.schedule-section {
    &__heading {
        &.title-has-bg {
            @media(min-width: 416px) {
                padding-bottom: 3rem;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 5rem;
            }

            @include media-breakpoint-up(xl) {
                padding: 6rem 0 3rem;
            }

            &:before {
                left: 56%;
                width: 344px;
                height: 245px;
                background-image: url(#{$image-path}/bg-leaf-alt.png);

                @include media-breakpoint-up(sm) {
                    width: 400px;
                    height: 260px;
                }

                @include media-breakpoint-up(lg) {
                    left: 57%;
                    width: 431px;
                    height: 293px;
                }
            }
        }

        .heading-secondary {
            span {
                @include media-breakpoint-down(xs) {
                    font-size: 4.5625rem;
                }
            }
        }
    }

    &__inner {
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
            width: 277px;
            height: 467px;
            background-image: url(#{$image-path}/bg-leaf-verticle.png);
            background-size: 100%;
            background-position: top left;
            background-repeat: no-repeat;
            z-index: -1;

            @include media-breakpoint-up(xl) {
                width: 308px;
                height: 521px;
            }
        }

        .box-text {
            padding-top: 3.3125rem;

            @include media-breakpoint-up(lg) {
                margin-left: 5.25rem;
            }

            &__off {
                font-family: $font-nelphim;
                text-transform: capitalize;

                @include media-breakpoint-down(xs) {
                    width: 250px;
                }
            }

            &__info {
                color: $black;
            }
        }
    }
}

// course-foot
.course-foot {
    &__top {
        .bg-img {
            @include media-breakpoint-up(sm) {
                min-height: 800px;
            }
        }
    }

    .box-text {
        padding-top: 3rem;

        &__off {
            padding-left: 4px;
            padding-right: 4px;
            width: 220px;
            top: -25px;

            @media(min-width: 375px) {
                width: 290px;
                top: -15px;
            }
        }
    }

    &__bottom {
        position: relative;
        z-index: 1;
    }

    &__info {
        @include font-size(1.125rem);

        @include media-breakpoint-up(sm) {
            color: $white;
        }

        .heading-secondary {
            color: inherit;
        }
    }

    .counter-list {
        padding-left: 15px;
        padding-right: 15px;

        ul {
            max-width: 490px;
            margin-left: auto;
            margin-right: auto;
        }

        li {
            &:before {
                color: $black;
            }
        }
    }
}