

// info-panel
.info-panel {
    text-align: center;
    padding: 1rem;

    @include media-breakpoint-up(sm) {
        padding: 1rem 2rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 1rem 2.75rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// detail-block
.detail-block {
    &__heading {
        &.title-has-bg {
            padding: 3rem 0;

            &:before {
                left: 53%;
                width: 300px;
                height: 206px;
            }
        }
    }

    &__format {
        .box-text {
            padding-top: 2rem;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-up(sm) {
                padding-top: 2.5rem;
            }

            &:before,
            &:after {
                @media(min-width: 375px) {
                    width: 45px;
                }

                @include media-breakpoint-up(sm) {
                    width: 60px;
                }
            }

            &__off {
                width: 200px;
            }

            &-wrapper {
                margin-left: -15px;
                margin-right: -15px;
                padding: 2rem 1rem;

                @media(min-width: 375px) {
                    padding: 3rem 2rem 2rem;
                }

                @include media-breakpoint-up(sm) {
                    max-width: 415px;
                    margin-left: auto;
                    margin-right: auto;
                }

                @include media-breakpoint-up(lg) {
                    padding: 3rem 3rem 2rem;
                }
            }
        }

        .info-list {
            li {
                display: flex;
                align-items: center;
                margin-left: -15px;
                margin-right: -15px;

                strong,
                span {
                    width: 50%;
                    padding: 0 15px;
                }

                strong {
                    text-align: right;
                    font-family: $font-nelphim;
                    font-weight: 400;
                    @include font-size(1.25rem);
                }

                span {
                    font-family: $font-avenir;
                }
            }
        }
    }

    .group-date {
        @include media-breakpoint-down(sm) {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        &__title {
            h4 {
                @include font-size(1.25rem)
            }
        }

        &__inner {
            margin: 0 -1rem;

            @include media-breakpoint-up(sm) {
                margin: 0 -2rem;
            }

            @include media-breakpoint-up(xl) {
                margin: 0 -2.75rem;
            }
        }

        &__item {
            margin-bottom: 1rem;
            padding: 0 1rem;

            @include media-breakpoint-up(sm) {
                padding: 0 2rem;
            }

            @include media-breakpoint-up(xl) {
                padding: 0 2.75rem;
            }

            .btn-wrap {
                text-align: center;

                .btn {
                    width: 100%;
                    min-width: auto;
                    max-width: none;

                    @media(min-width: 375px) {
                        min-width: 290px;
                        width: auto;
                    }
                }
            }
        }

        .info-panel {
            padding: 1rem 0;
        }
    }

    .individual-date {
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;

        h4 {
            @include font-size(1.25rem);
        }
    }
}

// location-block
.location-block {

    &.container,
    &>.container {
        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }

    &__content {
        height: 100%;
        padding: 2rem;
        font-family: $font-avenir;

        @include media-breakpoint-up(sm) {
            padding: 3rem 2rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 2rem;
        }

        &.has-horizontalImg {
            &:before {
                left: -60px;

                @include media-breakpoint-up(sm) {
                    left: -28px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .text-wrap {
            @include media-breakpoint-up(lg) {
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__map {
        iframe {
            display: block;
            width: 100%;
            height: 388px;

            @include media-breakpoint-up(sm) {
                height: 400px;
            }

            @include media-breakpoint-up(lg) {
                height: 450px;
            }

            @include media-breakpoint-up(xl) {
                height: 500px;
            }
        }
    }
}

// two-col
.two-col {
    &__content {
        font-family: $font-avenir;

        .title-has-bg {
            &--alt {
                &:before {
                    background-image: url(#{$image-path}/bg-leaf-alt-reverse.png);
                    width: 274px;
                    height: 187px;
                    left: 44%;
                }
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    &--offset {
        .two-col {
            &__media {
                img {
                    @include media-breakpoint-up(lg) {
                        width: 100%;
                    }
                }
            }
        }
    }
}



// testimonials-card
blockquote.testimonials-card {
    margin-bottom: 0;
}

.testimonials-card {
    font-family: $font-nelphim;
    color: $black;
    text-align: center;
    padding: 0 1rem;

    @include media-breakpoint-up(sm) {
        padding: 0 1.5rem;
    }

    &__media {
        margin-bottom: 1rem;

        img {
            border-radius: 50%;
        }
    }

    address {
        margin-bottom: 0;
        display: block;
        font-family: $font-double-signature;
        @include font-size(3.125rem);
        line-height: 1;
    }
}

// testimonials-section
.testimonials-section {
    &__heading {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
            width: 368px;
            height: 232px;
            background-image: url(#{$image-path}/bg-leaf02.png);
            background-size: 100%;
            background-position: top left;
            background-repeat: no-repeat;

            @include media-breakpoint-up(sm) {
                top: 36px;
            }

            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
}

// btn-block
.btn-block {
    &__heading {
        h2 {
            font-size: 1.125rem;
        }
    }

    &__inner {
        margin-bottom: 1rem;

        @include media-breakpoint-up(sm) {
            margin-bottom: 2rem;
        }

        p {
            @include media-breakpoint-up(sm) {
                margin-bottom: 2rem;
            }
        }

        .btn {
            max-width: none;
            min-width: 290px;
        }
    }
}