.session-about {
    background: url('#{$image-path}/session-about-bg.png') no-repeat;
    background-position: 62% 84%;
    background-size: 283px;

    @include media-breakpoint-down(xs) {
        background-position: 111% 88%;
    }

    .block-width-612 {

        h3 {
            margin-bottom: 1.25rem;
        }

        p {
            margin-bottom: 1.75rem;
        }

        p:last-of-type {
            text-align: center;
            font-family: $font-nelphim;
        }
    }

    .box-quote {
        max-width: 306px;
    }
}

.session-info {

    .content-block {
        max-width: 880px;

        .foot {
            max-width: 364px;
            margin: 0 auto;
        }
    }
}

.session-mini-block {
    background: url('#{$image-path}/session-mini-block-bg.png') no-repeat;
    background-position: 50% 30%;

    .mini-block {
        line-height: 1.3;
        text-align: center;
        color: $black;
        max-width: 309px;
        margin: 0 auto;
        padding: 12px 12px 0;
        background-color: $white;
        font-family: $font-nelphim;
        font-weight: 400;
        @include font-size($font-size-lg);
    }
}

.session-team {
    .content-block {
        max-width: 569px;
        margin-left: auto;
        margin-right: auto;
        min-height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        h2 {
            @include font-size(1.875rem);
            line-height: .7;
            margin-bottom: 3rem;

            span {
                vertical-align: bottom;
                line-height: .5;
                font-family: $font-double-signature;
                @include font-size(5rem);
            }
        }

        p:last-of-type {
            margin-bottom: 2rem;
        }

        .btn {
            min-width: 250px;
        }
    }
}

// .session-accordion {}

.session-bleeding {
    background: url('#{$image-path}/session-bleeding-bg.png') no-repeat;
    background-position: 32% 50%;

    .box-quote {
        max-width: 472px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.session-founder {

    .heading-secondary {
        span {
            @include font-size(6.25rem);
        }
    }

    .has-bg-img {
        .inner {
            min-height: 435px;
            max-width: 414px;
            font-family: $font-nelphim;
            @include font-size(1.125rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-left: 3.25rem;
            padding-right: 3.25rem;
            padding-bottom: 0.75rem;

            h3 {
                line-height: .8;
                @include font-size(1.875rem);
                margin-bottom: 1.5rem;

                span {
                    display: block;
                    @include font-size(6.25rem);
                    font-family: $font-double-signature;
                }
            }
        }
    }
}

.session-founderInfo {
    .content-block {
        p:not(:last-of-type) {
            margin-bottom: 2rem;
        }
    }
}

.session-healing {

    .inner {
        min-height: 648px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include font-size(1.875rem);
        }
    }
}