.box {

    &-quote,
    &-text {
        border: 1px solid $black;
    }

    &-quote {
        font-family: $font-nelphim;
        @include font-size(1.25rem);
        line-height: 1.45;
        padding: 1.625rem 1rem 1rem;
        position: relative;

        &:before {
            content: '\e906';
            top: -1.125rem;
            font-family: 'icomoon';
            @include font-size(2rem);
            color: $primary;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            background-color: $white;
            line-height: 1;
            padding: 0.25rem 0.75rem;
        }

        p {
            &:last-of-type {
                margin-bottom: 0 !important;
            }
        }

        &--md {
            max-width: 367px;
        }

        &--lg {
            max-width: 496px;
        }

        &--pri {
            padding-left: 2rem;
            padding-right: 2rem;
            border-color: $white;

            @include media-breakpoint-up(lg) {
                padding-left: 4rem;
                padding-right: 4rem;
            }

            &:before {
                padding: 0 0.75rem;
                color: $white;
                background-color: $primary;
            }

            cite {
                line-height: 1.2;
                font-family: $font-double-signature;
                @include font-size(3.75rem);
            }
        }

        cite {
            display: inline-block;
            padding-bottom: 1rem;
        }
    }

    &-text {
        padding: 1.5rem 0.75rem 1.5rem;
        position: relative;

        &__off {
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            background-color: $white;
            line-height: 1;
            font-family: $font-nelphim;
            @include font-size(1.5rem);
            text-transform: uppercase;
            color: $black;
            padding: 0.25rem 0.75rem;
        }

        &__info {
            font-family: $font-avenir;
            font-weight: 400;

            .info-title {
                font-family: $font-nelphim;
                @include font-size(1.25rem);
                display: block;
                line-height: 1.2;
                margin-bottom: .25rem;

                @include media-breakpoint-up(xl) {
                    margin-bottom: 9px;
                }
            }

            p+.info-title {
                @include media-breakpoint-up(xl) {
                    padding-top: 8px;
                }
            }
        }

        &--white {
            color: $white;
            border-color: transparent $white $white;
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                width: 32px;
                background-color: $white;
            }

            &:after {
                right: 0;
                left: auto;
            }

            .box-text__off {
                background-color: transparent;
                color: inherit;
            }
        }
    }

    &-light {
        background: rgba($white, 0.7);
        margin: 0 auto;
        color: $black;
        padding: 1rem;

        @include media-breakpoint-up(sm) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include media-breakpoint-up(md) {
            padding: 2.875rem 2.875rem 3.5rem;
        }

        &--mb {
            margin-bottom: 0.75rem;
        }
    }

    &-blur{
        padding: 3.5rem 2rem 3.875rem;
        max-width: 406px;
        font-family: $font-avenir;
        font-weight: 300;
        @include font-size($font-size-lg);
        background: rgba($white, 0.4);
        backdrop-filter: blur(20px);
        color: $black;

        h3 {
            margin-bottom: 1.75rem;
        }

        p {
            margin-bottom: 2rem;
        }

        &--none {
            padding: 1rem;
            background-color: transparent;
            backdrop-filter: none;
        }
    }
}