.box {

    &-quote,
    &-text {
        border: 1px solid $black;
    }

    &-quote {
        font-family: $font-nelphim;
        @include font-size(1.25rem);
        line-height: 1.45;
        padding: 1.625rem 1rem 0;
        position: relative;

        &:before {
            content: '\e906';
            top: -1.125rem;
            font-family: 'icomoon';
            @include font-size(2rem);
            color: $primary;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            background-color: $white;
            line-height: 1;
            padding: 0.25rem 0.75rem;
        }

        &--md {
            max-width: 367px;
        }
    }

    &-text {
        padding: 0.75rem 0.75rem 1.5rem;

        &__off {
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            background-color: $white;
            line-height: 1;
            font-family: $font-nelphim;
            @include font-size(1.5rem);
            text-transform: uppercase;
            color: $black;
            padding: 0.25rem 0.75rem;
        }
    }

    &-light {
        background: rgba($white, 0.7);
        margin: 0 auto;
        color: $black;
        padding: 1rem 2rem;

        @include media-breakpoint-up(md) {
            padding: 2.875rem 2.875rem 3.5rem;
        }
    }
}