// card-article
.card-article {
    position: relative;
    text-align: center;
    height: 100%;

    &:hover,
    &:focus {
        .card-article__media {
            img {
                transform: scale(1.2);
            }
        }
    }

    &__media {
        position: relative;
        margin-bottom: .5rem;
        overflow: hidden;

        img {
            width: 100%;
            transition: .2s all ease-in-out;
        }

        .figcaption {
            position: absolute;
            background-color: $white;
            color: $gray-500;
            font-weight: 300;
            right: 0;
            bottom: 10px;
            width: 80px;
            text-align: center;
            padding: .25rem .5rem;
            line-height: 1;
            font-size: 0.75rem;
        }
    }

    &__title {
        h6 {
            font-size: 1rem;
            color: $black;
            font-family: $font-avenir;
            line-height: 1.2;

            a {
                color: inherit;

                &:hover,
                &:focus {
                    color: $primary;
                }
            }
        }
    }
}

// article-block
.article-block {
    &__inner {
        margin-left: -7px;
        margin-right: -7px;
    }

    &__item {
        padding-left: 7px;
        padding-right: 7px;
        margin-bottom: .75rem;
    }
}