.collapse-acc {
    font-family: $font-nelphim;

    &__item {
        background: radial-gradient(rgba($white, 0.8) 0%, rgba($white, 0.29) 100%);
        backdrop-filter: blur(10px);
        margin-bottom: 1rem;
    }

    &__head {
        display: block;
        width: 100%;
        text-align: left;
        padding: .75rem 2.25rem .75rem 1rem;
        border: 0;
        background-color: transparent;
        position: relative;
        transition: .3s ease-in-out all;

        &:focus {
            outline: none;
        }

        &:after {
            content: '\e908';
            position: absolute;
            top: 1.375rem;
            right: 1.125rem;
            font-family: 'icomoon';
            @include font-size(0.75rem);
            font-weight: 400;
            color: $primary;
            line-height: 1;
            transition: .3s ease-in-out all;
        }

        &.active {

            &:after {
                transform: rotate(-90deg);
            }
        }

        .h3 {
            display: flex;
            align-items: center;
            @include font-size(1.5rem);
            margin: 0;
        }

        [class^="icon-"],
        [class*="icon-"] {
            @include font-size(2rem);
            padding-right: 1.625rem;
        }
    }

    &__content {
        display: none;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1px;

        a[href^="tel:"] {
            white-space: nowrap;
        }
    }
}