.hero {

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 862px;

        @include media-breakpoint-up(sm) {
            justify-content: center;
            align-items: center;
        }
    }

    &-mobile-overlap {

        @include media-breakpoint-down(sm) {
            position: relative;
            z-index: 1;
        }

        [class*="col-"] {
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }

        .img-block {
            @include media-breakpoint-down(sm) {
                @include positionAbsFull;
                z-index: -1;
            }

            img {
                @include media-breakpoint-down(sm) {
                    @include objCover;
                }
            }
        }

        .content-block {
            @include media-breakpoint-down(sm) {
                color: $white;
                padding: 3rem 2rem 5rem;
                min-height: 745px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            &--alt {
                @include media-breakpoint-down(sm) {
                    justify-content: space-between;
                }
            }

            .heading-primary {
                @include media-breakpoint-down(sm) {
                    color: $white;
                }
            }

            .border-mini {

                &:before,
                &:after {
                    @include media-breakpoint-down(sm) {
                        background-color: $white;
                    }
                }
            }

            .box-quote,
            .box-text {
                @include media-breakpoint-down(sm) {
                    color: $white;
                    border-color: $white;
                }

                &:before {
                    @include media-breakpoint-down(sm) {
                        color: $white;
                        background-color: transparent;
                    }
                }
            }
        }

        &.hero-indvCourse {
            .content-block {
                @include media-breakpoint-down(sm) {
                    padding-bottom: 1.375rem;
                }
            }
        }
    }
}

// info-banner
.info-banner {
    min-height: 350px;
    position: relative;

    @media(min-width: 375px) {
        min-height: 420px;
    }

    @include media-breakpoint-up(sm) {
        min-height: 500px;
    }

    @include media-breakpoint-up(lg) {
        min-height: 600px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 695px;
    }

    @media screen and (min-width:0\0) {
        @include media-breakpoint-up(lg) {
            height: 600px;
        }

        @include media-breakpoint-up(xl) {
            height: 695px;
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 200px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top left;

        @include media-breakpoint-up(sm) {
            width: 250px;
            height: 200px;
        }

        @include media-breakpoint-up(lg) {
            width: 280px;
            height: 230px;
        }

        @include media-breakpoint-up(xl) {
            width: 325px;
            height: 265px;
        }
    }

    &:before {
        bottom: 0;
        left: 0;
        background-image: url(#{$image-path}/info-banner-leaf-img-alt.png);

        @include media-breakpoint-down(xs) {
            left: -70px;
        }
    }

    &:after {
        top: 0;
        right: 0;
        background-image: url(#{$image-path}/info-banner-leaf-img.png);

        @include media-breakpoint-up(xl) {
            width: 390px;
            height: 290px;
        }

        @include media-breakpoint-down(xs) {
            right: -70px;
        }
    }

    &__content {
        @include font-size(1.25rem);

        @media(min-width: 415px) {
            @include font-size(1.5rem);
        }
    }
}

// banner-primary
.banner-primary {
    background-color: $primary;
    color: $white;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 260px;
        height: 240px;
        top: auto;
        bottom: 0;
        background-size: 100%;
        background-position: top left;
        background-repeat: no-repeat;

        @include media-breakpoint-up(sm) {
            width: 287px;
            height: 270px;
        }
    }

    &:before {
        background-image: url(#{$image-path}/fleur.png);
        left: -110px;

        @include media-breakpoint-up(lg) {
            left: 24px;
        }

        @media(min-width: 1440px) {
            left: 50px;
        }
    }

    &:after {
        background-image: url(#{$image-path}/fleur-reverse.png);
        right: -110px;

        @include media-breakpoint-up(lg) {
            right: 1.5rem;
        }

        @media(min-width: 1440px) {
            right: 50px;
        }
    }

    &__inner {
        font-family: $font-nelphim;
        @include font-size(1.25rem);

        &.has-border {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                bottom: 0;
                width: 100%;
                max-width: 330px;
                transform: translateX(-50%);
                border: 1px solid;
                border-color: $white transparent;
            }
        }

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &--alt {

        &:before,
        &:after {
            display: none;
        }

        .banner-primary__inner {
            position: relative;
            font-family: $font-avenirLTStd-roman;
            font-size: 1rem;

            &:before {
                content: '';
                position: absolute;
                width: 320px;
                height: 280px;
                top: auto;
                bottom: 0;
                left: auto;
                right: -150px;
                background-size: 100%;
                background-position: top left;
                background-repeat: no-repeat;
                background-image: url(#{$image-path}/fleur.png);
                
                @include media-breakpoint-up(sm) {
                    left: -110px;
                    width: 275px;
                    height: 250px;
                    right: auto;
                }

                @include media-breakpoint-up(lg) {
                    width: 287px;
                    height: 270px;
                }

                @include media-breakpoint-down(xs) {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            a:not(.btn) {
                color: $white;
                text-decoration: underline;

                &:hover,
                &:focus {
                    opacity: .7;
                }
            }
        }
    }
}