// counter-list
.counter-list ul,
ul.counter-list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: counter-list 0;

    li {
        position: relative;
        padding-top: 3.4375rem;

        &:not(:last-child) {
            margin-bottom: 1rem;

            @include media-breakpoint-up(xxl) {
                margin-bottom: 1.375rem;
            }
        }

        &:before {
            content: counter(counter-list, decimal-leading-zero);
            counter-increment: counter-list 1;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-family: $font-nelphim;
            color: $magenta;
            font-size: 2.5rem;
        }

        a {
            color: inherit;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $green-100;
            }
        }
    }
}

// list-unstyled
.list-unstyled ul,
ul.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

// list-arrow
.list-arrow ul,
ul.list-arrow {
    li {
        position: relative;
        padding-left: 2.5rem;
        margin-bottom: 1.75rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 2.375rem;
        }

        &:before {
            content: '\e901';
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.75rem;
            font-family: 'Icomoon';
            line-height: 1;
        }

        strong {
            display: block;
            text-decoration: underline;
        }
    }
}

// column-list
.column-list ul,
ul.column-list {
    @include media-breakpoint-up(lg) {
        column-count: 2;
        column-gap: 50px;

        li {
            break-inside: avoid;
        }
    }
}

.data-list {
    max-width: 332px;
    margin-left: auto;
    margin-right: auto;

    &__item {
        font-family: $font-nelphim;
        @include font-size(1.5625rem);
        margin-bottom: 2.875rem;

        span {
            display: block;
            font-family: $font-avenirLTStd-black;
            font-weight: 900;
            @include font-size(2.5rem);

            @include media-breakpoint-down(sm) {
                color: $primary;
            }
        }

        p {
            margin-bottom: 0;
        }

        small {
            display: block;
            font-family: $font-avenir;
            font-weight: 300;
            @include font-size(1rem);
        }
    }
}