
// counter-list
.counter-list ul,
ul.counter-list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: counter-list 0;

    li {
        position: relative;
        padding-top: 3.4375rem;

        &:not(:last-child) {
            margin-bottom: 1rem;

            @include media-breakpoint-up(xxl) {
                margin-bottom: 1.375rem;
            }
        }

        &:before {
            content: counter(counter-list, decimal-leading-zero);
            counter-increment: counter-list 1;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-family: $font-nelphim;
            color: $magenta;
            font-size: 2.5rem;
        }

        a {
            color: inherit;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $green-100;
            }
        }
    }
}