// Navigation
body{
    &.menuOpen {
        overflow: hidden;
    }
}

.site-header {

    .navbar {
        padding: 0;

        &>.container-fluid {
            max-width: 1440px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &-brand-link {
            @include media-breakpoint-down(md) {
                position: relative;
                z-index: 9999;
            }

            img {
                transition: .2s all ease-in-out;

                @media(max-width: 1439.99px) {
                    width: 250px;
                }

                @include media-breakpoint-down(md) {
                    width: 220px;
                }

                @include media-breakpoint-down(xs) {
                    width: 200px;
                }
            }
        }

        &-collapse {

            @include media-breakpoint-up(lg) {
                margin-left: 6rem;
            }

            @include media-breakpoint-up(xl) {
                margin-left: 8.6875rem;
            }
        }

        .nav {
            width: 100%;

            @include media-breakpoint-up(lg) {
                margin: 0 -1.5rem;
                width: auto;
            }

            @include media-breakpoint-up(xl) {
                margin: 0 -2rem;
            }

            @media (min-width: 1440px) {
                margin: 0 -3.125rem;
            }

            &>.nav-item {
                @include media-breakpoint-up(lg) {
                    margin: 0 1.5rem;
                }

                @include media-breakpoint-up(xl) {
                    margin: 0 2rem;
                }

                @media (min-width: 1440px) {
                    margin: 0 3.125rem;
                }
            }

            &-item {

                &:hover,
                &.active {
                    .nav-link {
                        &:before {
                            @include media-breakpoint-up(lg) {
                                width: 100%;
                            }
                        }
                    }
                }

                .caret {
                    font-size: 0.8125rem;
                    cursor: pointer;
                    transition: .2s all ease-in-out;

                    @include media-breakpoint-up(lg) {
                        position: absolute;
                        top: 7px;
                        right: -20px;
                    }

                    @include media-breakpoint-up(xl) {
                        right: -27px;
                    }

                    @include media-breakpoint-down(md) {
                        line-height: 1;
                        padding-left: 11px;
                    }
                }

                &>.dropdown-menu {
                    @include media-breakpoint-down(md) {
                        margin-bottom: 2rem;
                    }
                }

                .dropdown-menu {
                    border-radius: 0;
                    padding: 0;
                    min-width: 11.5rem;
                    display: block;
                    opacity: 1;
                    visibility: visible;

                    @include media-breakpoint-up(lg) {
                        left: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.2s all ease-in-out;
                    }

                    @include media-breakpoint-down(md) {
                        display: none;
                        border: none;
                        min-width: auto;
                        text-align: center;
                        background-color: transparent;
                        // margin-top: 1rem;
                        margin: 0 -15px;
                        padding: 15px;
                        background-color: rgba($light-gray-1, .1);
                        border-bottom: 1px solid $orange;
                    }

                    .menu-item {
                        padding: 0;

                        @include media-breakpoint-down(md) {
                            position: relative;
                            z-index: 1;

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: -999px;
                                right: -999px;
                                background-color: rgba($light-gray-1, .1);
                                z-index: -1;
                                display: none;
                            }

                            .menu-item {
                                &:before {
                                    display: none !important;
                                }
                            }
                        }

                        &:first-child {
                            @include media-breakpoint-down(md) {
                                &:before {
                                    top: -16px;
                                }
                            }
                        }

                        &:not(:last-child) {
                            @include media-breakpoint-up(lg) {
                                border-bottom: 1px solid rgba($secondary, .5);
                            }
                        }

                        &:hover {
                            &>.dropdown-item {
                                @include media-breakpoint-up(lg) {
                                    background-color: $primary;
                                }
                            }
                        }

                        &:last-child {
                            @include media-breakpoint-down(md) {
                                &:before {
                                    bottom: -16px;
                                }
                            }

                            .dropdown-item {
                                @include media-breakpoint-down(md) {
                                    border-bottom: none;
                                    position: relative;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        // bottom: -16px;
                                        bottom: 0;
                                        left: -999px;
                                        right: -999px;
                                        height: 1px;
                                        background-color: $orange;
                                        display: none;
                                    }
                                }
                            }
                        }

                        &-has-children {
                            .dropdown-item {
                                padding-right: 1.5rem;
                            }
                        }
                    }

                    .dropdown-item {
                        text-align: left;
                        font-weight: 500;
                        padding: .75rem 0;
                        white-space: normal;
                        line-height: 1.2;
                        font-family: $font-nelphim;

                        @include media-breakpoint-up(lg) {
                            padding: 0.75rem 2rem 0.75rem 1rem;
                            background-color: $secondary;
                            color: $white;
                        }

                        @include media-breakpoint-down(md) {
                            padding-left: 0;
                            color: $black;
                            text-align: center;
                            display: inline-block;
                            width: auto;
                            border-bottom: 1px solid rgba($orange, .3);
                            padding: 0.75rem 2rem;

                            &:hover,
                            &:focus {
                                background-color: transparent;
                            }
                        }
                    }

                    .dropdown-menu {
                        top: -1px;
                        left: 100%;
                        margin: 0;

                        .menu-item {
                            &:last-child {
                                .dropdown-item {
                                    border-bottom: 1px solid rgba($orange, .3);

                                    &:before {
                                        display: none;
                                    }
                                }
                            }

                            .dropdown-item {
                                @include media-breakpoint-down(md) {
                                    padding-left: 2.25rem;
                                }
                            }
                        }
                    }

                    .caret {
                        @include media-breakpoint-up(lg) {
                            color: $white;
                            transform: rotate(-90deg);
                            top: 11px;
                            right: 8px;
                        }

                        @include media-breakpoint-down(md) {
                            position: absolute;
                            top: 16px;
                            right: 5px;
                        }
                    }
                }
            }

            &-link {
                font-family: $font-nelphim;
                @include font-size(1.25rem);
                color: $black;
                padding: 0;
                position: relative;

                @include media-breakpoint-down(md) {
                    display: inline-block;
                    // margin-bottom: 2rem;
                    margin-bottom: 1rem;
                    padding-top: 1rem;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: auto;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: $orange;
                    transition: .2s all ease-in-out;

                    @include media-breakpoint-down(md) {
                        width: auto;
                        left: -999px;
                        right: -999px;
                        bottom: -16px;
                    }
                }
            }
        }

        .menu-item {
            &:last-child {
                .dropdown-menu {
                    right: -20px;
                    left: auto;

                    @include media-breakpoint-up(xl) {
                        right: -29px;
                    }

                    .dropdown-menu {
                        left: auto;
                        right: 100%;
                    }
                }
            }

            &-has-children {

                &:hover {
                    &>.dropdown-menu {
                        @include media-breakpoint-up(lg) {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-collapse {
            @include media-breakpoint-down(md) {
                background-color: $white;
                position: fixed;
                top: -100%;
                // bottom: 100%;
                left: 0;
                right: 0;
                height: 100vh !important;
                width: 100%;
                transition: 0.3s all ease;
                overflow-y: auto;
                overflow-x: hidden;
                text-align: center;
                // max-height: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 16rem 15px;
                z-index: 999;
                opacity: 0;
                visibility: hidden;
            }

            &.show {
                @include media-breakpoint-down(md) {
                    // bottom: 0;
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-toggler {
            position: relative;
            z-index: 9999;
            margin-left: 0;
            border: 0;
            padding: 0;
            height: 30px;

            @include media-breakpoint-up(md) {
                margin-left: 0.5rem;
            }

            @include media-breakpoint-up(lg) {
                margin-left: 0.9375rem;
            }

            span {
                display: block;
                width: 40px;
                height: 1px;
                background-color: $orange;
                transition: all 0.2s ease-in-out;
                border-radius: 0.25rem;

                @include media-breakpoint-down(xs) {
                    padding: 0;
                }

                &:first-child {
                    transform: none;
                    width: 30px;
                    margin-left: auto;
                }

                &:nth-child(2) {
                    margin: 0.75rem 0;
                    opacity: 1;
                    visibility: visible;

                    @include media-breakpoint-down(xs) {
                        margin: 0.5rem 0;
                    }
                }

                &:last-child {
                    transform: none;
                }
            }

            &:not(.collapsed) {
                z-index: 9999;

                span {
                    &:first-child {
                        width: 40px;
                        transform: translate(3px, 1px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        margin: 0;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateX(12px);
                    }

                    &:last-child {
                        transform: translate(2px, -1px) rotate(-45deg);
                    }
                }
            }

            &:focus-visible {
                outline: none;
            }
        }
    }
}