//slick default

.hide {
	&-arrow {
		.slick {
			&-arrow {
				display: none !important;
			}
		}
	}

	&-dots {
		.slick {
			&-dots {
				display: none !important;
			}
		}
	}
}

.slick-dots {
	li {
		&:only-child {
			display: none;
		}
	}
}