//slick default

.hide {
	&-arrow {
		.slick {
			&-arrow {
				display: none !important;
			}
		}
	}

	&-dots {
		.slick {
			&-dots {
				display: none !important;
			}
		}
	}
}

.slick-dots {
	li {
		&:only-child {
			display: none;
		}
	}
}

.slick-dots {
	list-style: none;
	padding: 0;
	position: relative;
	z-index: 1;

	li {
		line-height: 1;
	}

	button {
		font-size: 0;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		padding: 0;
		border: 0;
		background-color: rgba($white, .4);
		transition: .3s ease-in-out;

		@include media-breakpoint-up(sm) {
			width: 8px;
			height: 8px;
		}
	}

	.slick-active {

		button {
			width: 9px;
			height: 9px;
			background-color: $white;
			outline: none;

			@include media-breakpoint-up(sm) {
				width: 14px;
				height: 14px;
			}
		}
	}
}

// .slick-arrow
.slick {
	&-arrow {
		position: absolute;
		top: auto;
		bottom: 0;
		background: transparent;
		border: none;
		outline: none;
		font-size: 0;
		padding: 0;
		line-height: 1;

		@include media-breakpoint-up(lg) {
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
		}

		@include media-breakpoint-down(md) {
			margin: 0 0.25rem;
		}

		&:before {
			content: '\e908';
			font-family: 'icomoon';
			font-size: 16px;
		}
	}

	&-prev {
		transform: rotate(90deg);
		right: 50%;
		left: auto;
		z-index: 1;

		@include media-breakpoint-up(lg) {
			left: 0;
			right: auto;
			transform: rotate(90deg) translateY(-50%);
		}
	}

	&-next {
		transform: rotate(-90deg);
		left: 50%;
		right: auto;

		@include media-breakpoint-up(lg) {
			transform: rotate(-90deg) translateY(-50%);
			right: 0;
			left: auto;
		}
	}

	&-disabled {
		opacity: .5;
	}

	&-xl-arrow {
		.slick-arrow {
			transform: none;

			&:before {
				color: $white;
				@include font-size(1.25rem);

				@include media-breakpoint-up(lg) {
					@include font-size(4.375rem);
				}
			}

			&.slick-prev {
				left: 0;
				right: auto;

				&:before {
					content: "\e90d";
				}
			}

			&.slick-next {
				right: 0;
				left: auto;

				&:before {
					content: "\e90e";
				}
			}
		}
	}
}

.vertical-dots {
	.slick-dots {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 26px;
		padding: 0.75rem 0.5rem;
		margin-right: -15px;

		@include media-breakpoint-up(sm) {
			max-width: 46px;
		}

		li {
			&+li {
				margin-top: 1.125rem;

				@include media-breakpoint-up(sm) {
					margin-top: 2rem;
				}
			}
		}
	}
}