.timeline {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -13px;
    justify-content: center;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        background-color: $white;
        width: 1px;
    }

    &__item {
        font-family: $font-avenir;
        font-weight: 300;
        @include font-size(1.125rem);
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 13px;
        margin-bottom: 2rem;
        position: relative;

        h3 {
            @include font-size(1.5625rem);
        }

        &:last-child {
            margin: 0;

            p {
                margin: 0;
            }
        }

        &:before {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $white;
            position: absolute;
            top: 6px;
            left: -6px;
        }

        &:nth-child(odd) {
            margin-left: 50%;
        }

        &:nth-child(even) {
            margin-right: 50%;
            text-align: right;

            &:before {
                left: auto;
                right: -6px;
            }
        }
    }
}