// Background Cover
%bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&>img {
		display: none;
	}
}

.bg-cover {
	@extend %bg-cover;
}

%bg-primary {
	color: $white;
	background: $primary;
}

.bg-primary {
	@extend %bg-primary;
}

img {
	max-width: 100%;
	height: auto;
}

// Fonts
%font-avenir {
	font-family: $font-avenir;
}

.font-avenir {
	@extend %font-avenir;
}

%font-avenirLTStd-roman {
	font-family: $font-avenirLTStd-roman;
}

.font-avenirLTStd-roman {
	@extend %font-avenirLTStd-roman;
}

%font-avenirLTStd-book {
	font-family: $font-avenirLTStd-book;
}

.font-avenirLTStd-book {
	@extend %font-avenirLTStd-book;
}

%font-avenirLTStd-black {
	font-family: $font-avenirLTStd-black;
}

.font-avenirLTStd-black {
	@extend %font-avenirLTStd-black;
}

%font-double-signature {
	font-family: $font-double-signature;
}

.font-double-signature {
	@extend %font-double-signature;
}

%font-nelphim {
	font-family: $font-nelphim;
}

.font-nelphim {
	@extend %font-nelphim;
}

// Visibility
.hide-sm {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

// List
ol {
	padding-left: 0.9375rem;
}

// Text
.text-transform-none {
	text-transform: none !important;
}

.text-underline {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@for $i from 1 through 9 {
	.font-#{$i*100} {
		font-weight: $i*100;
	}
}

// a:visited {
// 	color: $primary;
// }

a {
	transition: all .2s ease-in-out;
}

picture {
	display: block;
}

.img-fluid {
	img {
		width: 100%;
	}
}

// hidden-title
.hidden-title {
	position: absolute;
	top: -99999px;
	left: -99999px;
}

.block {
	&-width {
		&-1150 {
			@include media-breakpoint-up(lg) {
				max-width: 1150px;
			}
		}

		&-950 {
			@include media-breakpoint-up(lg) {
				max-width: 950px;
			}
		}

		&-612 {
			@include media-breakpoint-up(lg) {
				max-width: 612px;
			}
		}

		&-625 {
			@include media-breakpoint-up(lg) {
				max-width: 625px;
			}
		}

		&-350 {
			@include media-breakpoint-up(lg) {
				max-width: 350px;
			}
		}

		&-365 {
			@include media-breakpoint-up(lg) {
				max-width: 365px;
			}
		}

		&-460 {
			@include media-breakpoint-up(lg) {
				max-width: 460px;
			}
		}
	}
}

.max-width {
	&-300 {
		max-width: 300px;
	}

	&-330 {
		max-width: 330px;
	}

	&-350 {
		max-width: 350px;
	}

	&-380 {
		max-width: 380px;
	}

	&-400 {
		max-width: 400px;
	}

	&-415 {
		max-width: 415px;
	}

	&-437 {
		max-width: 437px;
	}

	&-510 {
		max-width: 510px;
	}

	&-550 {
		max-width: 550px;
	}

	&-580 {
		max-width: 580px;
	}

	&-650 {
		max-width: 650px;
	}

	&-700 {
		max-width: 700px;
	}

	&-750 {
		max-width: 750px;
	}

	&-800 {
		max-width: 800px;
	}

	&-850 {
		max-width: 850px;
	}

	&-1180 {
		max-width: 1180px;
	}
}

.container-alt {
	@extend .container-fluid;

	@include media-breakpoint-up(xxl) {
		max-width: 1440px;
	}
}

.text-white {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white !important;
	}
}

.text-primary {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $primary !important;
	}
}

// bg-black
.bg-black {
	background-color: $black;
}

// text-black
.text-black {
	color: $black;
}

.has-overlay {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black, .3);
	}
}

.has-bg-img {
	position: relative;
	z-index: 1;

	.bg-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			font-family: 'object-fit: cover;';
		}

		&--alt {
			@include media-breakpoint-down(xs) {
				height: 70%;
			}
		}

		&--offset {
			height: auto;
			top: 160px;
			bottom: 32px;

			@media(min-width: 375px) {
				top: 190px;
			}

			@include media-breakpoint-up(sm) {
				top: 200px;
			}

			@include media-breakpoint-up(lg) {
				top: 224px;
			}
		}
	}
}

.circular-img {
	img {
		border-radius: 50%;
	}
}

// font-sizes
.font-size-18 {
	@include font-size(1.125rem);
}

.font-size-lg {
	@include font-size($font-size-lg);
}

//overlays
.overlay {
	position: relative;
	z-index: 1;

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		z-index: -1;
	}

	&-80 {

		&--top {
			&:before {
				top: 0;
				bottom: 60%;
				background: linear-gradient(180deg, rgba($black, 0.8) 0%, rgba($black, 0) 100%);
			}
		}

		&--bottom {
			&:after {
				top: 60%;
				bottom: 0;
				background: linear-gradient(0deg, rgba($black, 0.8) 0%, rgba($black, 0) 100%);
			}
		}
	}

	&-53 {

		&--full {
			&:after {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(180deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
			}
		}

		&--top {
			&:before {
				top: 0;
				bottom: 60%;
				background: linear-gradient(180deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
			}
		}

		&--bottom {
			&:after {
				top: 60%;
				bottom: 0;
				background: linear-gradient(0deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
			}
		}
	}

	&-sm-00 {
		&:after {
			@include media-breakpoint-up(sm) {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	&-mobile {

		&:before,
		&:after {
			@include media-breakpoint-down(sm) {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				width: 100%;
			}
		}

		&--top {
			&:before {
				top: 0;
				bottom: 60%;
				background: linear-gradient(180deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
			}
		}

		&--bottom {
			&:after {
				@include media-breakpoint-down(sm) {
					top: 60%;
					bottom: 0;
					background: linear-gradient(0deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
				}
			}
		}

		.btn {
			position: relative;
			z-index: 1;
		}
	}
}

// min-height
.mh {

	&-sm {
		min-height: 756px;
	}

	&-lg {
		@include media-breakpoint-up(lg) {}
	}

	&-xl {
		@include media-breakpoint-up(xl) {
			min-height: 862px;
		}
	}

	&-700 {
		min-height: 700px;
	}

	&-446 {
		min-height: 446px;
	}

	&-lg-784 {
		@include media-breakpoint-up(lg) {
			min-height: 784px;
		}
	}
}

// offsets
.offset {

	&-top-sm {
		margin-top: -50px;
	}

	&-top-lg {
		@include media-breakpoint-up(lg) {
			margin-top: -76px;
		}
	}

}

.flower-bg-1 {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		background: url('#{$image-path}/flower-bg01.png') no-repeat;
		background-size: 287px;
		width: 287px;
		height: 246px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}
}

// has-verticleImg
.has-verticleImg {
	position: relative;
	z-index: 1;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: -155px;
		transform: translateY(-50%);
		width: 277px;
		height: 467px;
		background-image: url(#{$image-path}/flower-outline.png);
		background-size: 100%;
		background-position: top left;
		background-repeat: no-repeat;
		z-index: -1;

		@include media-breakpoint-up(xl) {
			width: 306px;
			height: 529px;
		}
	}

	&--right {
		&:before {
			left: auto;
			right: -125px;

			@include media-breakpoint-up(lg) {
				right: -155px;
			}
		}
	}
}

// has-horizontalImg
.has-horizontalImg {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 330px;
		height: 170px;
		background-image: url(#{$image-path}/format-detail.-box-text-bg-leaf.png);
		background-size: 100%;
		background-position: top left;
		background-repeat: no-repeat;
	}
}

.mobile-px {
	@include media-breakpoint-down(xs) {
		padding-left: 1.5rem;
		padding-right: 1rem;
	}

	@media (max-width: 413px) {
		padding-left: 1rem;
	}
}

// .text-block
.text-block {
	font-weight: 300;
	font-size: 1.25rem;
	font-family: $font-avenir;

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}