// Background Cover
%bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&>img {
		display: none;
	}
}

.bg-cover {
	@extend %bg-cover;
}

%bg-primary {
	color: $white;
	background: $primary;
}

.bg-primary {
	@extend %bg-primary;
}

img {
	max-width: 100%;
	height: auto;
}

// Fonts
%font-avenir {
	font-family: $font-avenir;
}

.font-avenir {
	@extend %font-avenir;
}

%font-avenirLTStd-roman {
	font-family: $font-avenirLTStd-roman;
}

.font-avenirLTStd-roman {
	@extend %font-avenirLTStd-roman;
}

%font-avenirLTStd-book {
	font-family: $font-avenirLTStd-book;
}

.font-avenirLTStd-book {
	@extend %font-avenirLTStd-book;
}

%font-avenirLTStd-black {
	font-family: $font-avenirLTStd-black;
}

.font-avenirLTStd-black {
	@extend %font-avenirLTStd-black;
}

%font-double-signature {
	font-family: $font-double-signature;
}

.font-double-signature {
	@extend %font-double-signature;
}

%font-nelphim {
	font-family: $font-nelphim;
}

.font-nelphim {
	@extend %font-nelphim;
}

// Visibility
.hide-sm {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

// List
ol {
	padding-left: 0.9375rem;
}

// Text
.text-transform-none {
	text-transform: none !important;
}

.text-underline {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@for $i from 1 through 9 {
	.font-#{$i*100} {
		font-weight: $i*100;
	}
}

// a:visited {
// 	color: $primary;
// }

a {
	transition: all .2s ease-in-out;
}

picture {
	display: block;
}

.img-fluid {
	img {
		width: 100%;
	}
}

.block {
	&-width {
		&-612 {
			@include media-breakpoint-up(lg) {
				max-width: 612px;
			}
		}

		&-625 {
			@include media-breakpoint-up(lg) {
				max-width: 625px;
			}
		}

		&-350 {
			@include media-breakpoint-up(lg) {
				max-width: 350px;
			}
		}

		&-365 {
			@include media-breakpoint-up(lg) {
				max-width: 365px;
			}
		}
	}
}

.max-width {
	&-350 {
		max-width: 350px;
	}

	&-437 {
		max-width: 437px;
	}

	&-510 {
		max-width: 510px;
	}

	&-650 {
		max-width: 650px;
	}

	&-750 {
		max-width: 750px;
	}
}

.container-alt {
	@extend .container-fluid;

	@include media-breakpoint-up(xxl) {
		max-width: 1440px;
	}
}

.text-white {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white !important;
	}
}

// bg-black
.bg-black {
	background-color: $black;
}

.has-overlay {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black, .3);
	}
}

.has-bg-img {
	position: relative;
	z-index: 1;

	.bg-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			font-family: 'object-fit: cover;';
		}

		&--alt {
			@include media-breakpoint-down(xs) {
				height: 70%;
			}
		}

		&--offset {
			height: auto;
			top: 160px;
			bottom: 32px;

			@media(min-width: 375px) {
				top: 190px;
			}

			@include media-breakpoint-up(sm) {
				top: 200px;
			}

			@include media-breakpoint-up(lg) {
				top: 224px;
			}
		}
	}
}

.circluar-img {
	img {
		border-radius: 50%;
	}
}

// font-sizes
.font-size-18 {
	@include font-size(1.125rem);
}

.font-size-lg {
	@include font-size($font-size-lg);
}

//overlays
.overlay {
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
	}

	&-80 {

		&--top {
			&:before {
				top: 0;
				bottom: 60%;
				background: linear-gradient(180deg, rgba($black, 0.8) 0%, rgba($black, 0) 100%);
			}
		}

		&--bottom {
			&:after {
				top: 60%;
				bottom: 0;
				background: linear-gradient(0deg, rgba($black, 0.8) 0%, rgba($black, 0) 100%);
			}
		}
	}

	&-53 {

		&--full {
			&:after {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(180deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
			}
		}

		&--top {
			&:before {
				top: 0;
				bottom: 60%;
				background: linear-gradient(180deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
			}
		}

		&--bottom {
			&:after {
				top: 60%;
				bottom: 0;
				background: linear-gradient(0deg, rgba($black, 0.53) 0%, rgba($black, 0) 100%);
			}
		}
	}

	&-sm-00 {
		&:after {
			@include media-breakpoint-up(sm) {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

// min-height
.mh {

	&-sm {
		min-height: 756px;
	}

	&-lg {
		@include media-breakpoint-up(lg) {}
	}

	&-xl {
		@include media-breakpoint-up(xl) {
			min-height: 862px;
		}
	}

	&-700 {
		min-height: 700px;
	}

	&-446 {
		min-height: 446px;
	}

	&-lg-784 {
		@include media-breakpoint-up(lg) {
			min-height: 784px;
		}
	}
}

// offsets
.offset {

	&-top-sm {
		margin-top: -50px;
	}

	&-top-lg {
		@include media-breakpoint-up(lg) {
			margin-top: -76px;
		}
	}

}