// Background Cover
%bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&>img {
		display: none;
	}
}

.bg-cover {
	@extend %bg-cover;
}

%bg-primary {
	color: $white;
	background: $primary;
}

.bg-primary {
	@extend %bg-primary;
}

img {
	max-width: 100%;
	height: auto;
}

// Fonts
%font-avenirLTStd-roman {
    font-family: $font-avenirLTStd-roman;
}
.font-avenirLTStd-roman {
    @extend %font-avenirLTStd-roman;
}

%font-avenirLTStd-book {
    font-family: $font-avenirLTStd-book;
}
.font-avenirLTStd-book {
    @extend %font-avenirLTStd-book;
}

%font-avenirLTStd-black {
    font-family: $font-avenirLTStd-black;
}
.font-avenirLTStd-black {
    @extend %font-avenirLTStd-black;
}

%font-double-signature {
    font-family: $font-double-signature;
}
.font-double-signature {
    @extend %font-double-signature;
}

%font-nelphim {
    font-family: $font-nelphim;
}
.font-nelphim {
    @extend %font-nelphim;
}

// Visibility
.hide-sm {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

// List
ol {
	padding-left: 0.9375rem;
}

// Text
.text-transform-none {
	text-transform: none !important;
}
.text-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

@for $i from 1 through 9 {
	.font-#{$i*100}{
		font-weight: $i*100;
	}
}

// a:visited {
// 	color: $primary;
// }

a {
	transition: all .2s ease-in-out;
}

picture {
	display: block;
}

.text-white {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white  !important;
	}
}