// Typography

.heading {

    &-primary,
    &-secondary {
        line-height: .7;
    }

    &-primary,
    &-secondary,
    &-tertiary {

        &.text-white {
            filter: drop-shadow(0px 4px 4px rgba($black, 0.25));
        }

        span {
            display: block;
            margin-bottom: 0.75rem;
            font-family: $font-double-signature;
        }
    }

    &-primary {
        @include font-size(1.875rem);

        span {
            @include font-size(5rem);
        }

        @include media-breakpoint-up(sm) {
            @include font-size(2.1875rem);

            span {
                @include font-size(6.25rem);
            }
        }

        &--sm {
            @include font-size(1rem);
        }
    }

    &-secondary {
        @include font-size(1.875rem);

        span {
            @include font-size(5rem);
        }

        &--alt {
            line-height: 1.5;

            span {
                line-height: .5;
            }
        }

        &--sm {
            @include font-size(1.5rem);
        }
    }

    &-tertiary {
        @include font-size(1.25rem);

        span {
            @include font-size(4.375rem);
            line-height: .7;
        }
    }
}

.title-h2-25 {

    h2,
    .h2 {
        @include font-size(1.5rem);
    }
}

// block-header
.block-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;

        @include media-breakpoint-up(sm) {
            margin-bottom: 2rem;
        }
    }

    br {
        @media(max-width: 374.99px) {
            display: none;
        }
    }
}