// Typography

.heading {

    &-primary,
    &-secondary {
        line-height: .7;
    }

    &-primary,
    &-secondary,
    &-tertiary {

        &.text-white {
            filter: drop-shadow(0px 4px 4px rgba($black, 0.25));
        }

        span {
            display: block;
            margin-bottom: 0.75rem;
            font-family: $font-double-signature;
        }
    }

    &-primary {
        @include font-size(1.875rem);

        span {
            @include font-size(5rem);
        }

        @include media-breakpoint-up(sm) {
            @include font-size(2.1875rem);

            span {
                @include font-size(6.25rem);
            }
        }
    }

    &-secondary {
        @include font-size(1.875rem);

        span {
            @include font-size(5rem);
        }

        &--alt {	
            line-height: 1.5;	
            span {	
                line-height: .5;	
            }	
        }
    }

    &-tertiary {
        @include font-size(1.25rem);

        span {
            @include font-size(4.375rem);
            line-height: .7;
        }
    }
}